body {
    background: #ddd;
    font-family: 'Lora', sans-serif;
}

.main-articles-list {
    margin-top: 50px;
}

.main-article {
    overflow: hidden;
    height: 400px;
    position: relative;
    padding: 0px;
}

.main-article img {
    width: 100%;
    margin: 0px;
}

.main-article2 {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.main-article2 img {
    width: 100%;
    height: auto;
}

.desc {
    position: absolute;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000', GradientType=0); /* IE6-9 */
    width: 100%;
    bottom: 0;
    font-weight: 700;
}

.desc p {
    color: #fff;
    text-transform: uppercase;
    padding-left: 20px;
}

.desc p a {
    text-decoration: none;
    color: white;
}

.desc1 {
    height: 200px;
}

.desc2 {
    height: 100px;
}

.desc1 p {
    font-size: 26px;
    padding-top: 140px;
}

.desc2 p {
    font-size: 14px;
    padding-top: 60px;
}

.main-article-icon {
    font-size: 14px;
    font-weight: normal;
    margin-right: 20px;
    margin-top: 20px;
}

.comment-icon {
    margin-left: 10px;
}

.main-article-icon2 {
    font-weight: normal;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 10px;
}

.main-article-list .row, .col-md-12 {
    margin: 0px;
    padding: 0px;
}

.col-md-4 {
    padding: 0px;
}

.sub-article {
    height: 250px;
    overflow: hidden;
}

.sub-article img {
    width: 100%;
    height: auto;
}

.navbar {
    margin: 0px !important;
    background: #de0000 !important;
    border: none;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 0px;
}

.navbar-default a {
    color: #fff !important;
}

.navbar-default .active a {
    background: #b30000 !important;
}

.dropdown-menu {
    background: #eee !important;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-toggle {
    border-radius: 0px;
    background: #b30000;
    border: 1px solid #5b0101 !important;
}

.navbar-toggle:hover {
    background: #b30000 !important;
}

.icon-bar {
    background-color: #fff !important;
}

.main-content {
    margin-top: 50px;
}

.article {
    margin-bottom: 50px;
    text-align: center;
}

.article h1 {
    font-weight: 700;
}

.btn {
    margin-top: 10px;
    border-radius: 0px;
    background-color: #de0000;
    text-transform: uppercase;
    font-weight: 400;
}

.categories {
    background-color: #de0000;
    padding-top: 30px;
    padding-bottom: 20px;
}

.categories ul li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

.categories li a {
    color: #fff;
    font-weight: 400;
}

.read-more {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.btn-read-more {
    padding: 10px 80px !important;
}

@media (max-width: 768px) {
    .main-article {
        overflow: hidden;
        height: 200px;
        position: relative;
        padding: 0px;
    }
}

/********** LOGIN FORM **********/
.custom-form {
    border-radius: 0;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    border-right-color: #cccccc;
    border-right-width: 2px;
    height: 40px;
}

.ok-glyph {
    float: right;
    top: -30px;
    right: 10px;
    color: #3c763d;
}

.remove-glyph {
    float: right;
    top: -30px;
    right: 10px;
    color: #a94442;
}

.back-link {
    color: #eeeeee;
}

.back-link:hover {
    color: white;
}

.back-link-div {
    margin-top: 15px;
}

.dark-back-link-div {
    margin-top: 15px;
}

.correction {
    height: 100px;
}

.articles-presentation {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.presented-articles {
    height: 400px;
    width: 22.5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 2%;
}

.presented-article {
    height: 400px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #888888;
    border-radius: 2%;
}

.presented-articles:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px #444444;
}

.presented-articles:active {
    box-shadow: none;
    padding-top: 5px;
    padding-left: 5px;
}

.presented-article-title {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #888888;
    text-align: left;
}

.presented-article-content {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 73%;
    overflow: hidden;
}

.read-article {
    text-decoration: none;
    color: #31b0d5;
    padding-left: 20px;
    padding-right: 20px;
}

.read-article:hover {
    text-decoration: none;
}

/******** ARTICLE *********/

.article-image {
    height: 350px;
    overflow: hidden;
    margin-top: 50px;
    position: relative;
}


.jumpThumb {
    -webkit-animation: bounce 3000ms ease-out;
    -moz-animation: bounce 3000ms ease-out;
    -o-animation: bounce 3000ms ease-out;
    animation: bounce 3000ms ease-out;
}

/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
    0% {
        -webkit-transform:translateY(-100%);
        opacity: 0;
    }
    5% {
        -webkit-transform:translateY(-100%);
        opacity: 0;
    }
    15% {
        -webkit-transform:translateY(0);
        padding-bottom: 5px;
    }
    30% {
        -webkit-transform:translateY(-50%);
    }
    40% {
        -webkit-transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        -webkit-transform:translateY(-30%);
    }
    70% {
        -webkit-transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        -webkit-transform:translateY(-15%);
    }
    90% {
        -webkit-transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        -webkit-transform:translateY(-10%);
    }
    97% {
        -webkit-transform:translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        -webkit-transform:translateY(-5%);
    }
    100% {
        -webkit-transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
    0% {
        -moz-transform:translateY(-100%);
        opacity: 0;
    }
    5% {
        -moz-transform:translateY(-100%);
        opacity: 0;
    }
    15% {
        -moz-transform:translateY(0);
        padding-bottom: 5px;
    }
    30% {
        -moz-transform:translateY(-50%);
    }
    40% {
        -moz-transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        -moz-transform:translateY(-30%);
    }
    70% {
        -moz-transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        -moz-transform:translateY(-15%);
    }
    90% {
        -moz-transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        -moz-transform:translateY(-10%);
    }
    97% {
        -moz-transform:translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        -moz-transform:translateY(-5%);
    }
    100% {
        -moz-transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}

/* Opera 12.0 */
@-o-keyframes bounce {
    0% {
        -o-transform:translateY(-100%);
        opacity: 0;
    }
    5% {
        -o-transform:translateY(-100%);
        opacity: 0;
    }
    15% {
        -o-transform:translateY(0);
        padding-bottom: 5px;
    }
    30% {
        -o-transform:translateY(-50%);
    }
    40% {
        -o-transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        -o-transform:translateY(-30%);
    }
    70% {
        -o-transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        -o-transform:translateY(-15%);
    }
    90% {
        -o-transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        -o-transform:translateY(-10%);
    }
    97% {
        -o-transform:translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        -o-transform:translateY(-5%);
    }
    100% {
        -o-transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
    0% {
        transform:translateY(-100%);
        opacity: 0;
    }
    5% {
        transform:translateY(-100%);
        opacity: 0;
    }
    15% {
        transform:translateY(0);
        padding-bottom: 5px;
    }
    30% {
        transform:translateY(-50%);
    }
    40% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        transform:translateY(-30%);
    }
    70% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        transform:translateY(-15%);
    }
    90% {
        transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        transform:translateY(-7%);
    }
    97% {
        transform:translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        transform:translateY(-3%);
    }
    100% {
        transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}


.desc-article {
    height: 300px;
}

.desc-article p {
    font-size: 48px;
    padding-top: 210px;
    padding-left: 0px !important;
}

.article-icon {
    font-size: 16px;
    font-weight: normal;
    margin-right: 20px;
    margin-top: 40px;
}

.article-content {
    margin-top: 30px;
    margin-bottom: 50px;
}

.article-tags {
    margin-bottom: 20px;
    padding: 0;
}

.article-tags li {
    display: inline;
}

.article-tags li a {
    font-weight: bold;
    color: #de0000;
    margin-right: 10px;
}

/***** COMMENT ******/

/***** COMMENT ******/
.comment {
    background: #dfdfdf;
    padding-top: 30px;
    padding-bottom: 30px;
}

.comment h2 {
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #aaa;
}

.comment-params {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #aaa;
}

.comment-name {
    color: #de0000;
    font-weight: bold;
    font-size: 16px;
}

.comment-date {
    color: #888;
    font-size: 12px;
    margin-bottom: 10px;
}

.comment-reply {
    font-weight: bold;
    color: #444;
}

.comment-1lvl {

}

.comment-2lvl {
    margin-top: 30px;
    margin-left: 20px;
}

.form-control {
    border-radius: 0px;
    box-shadow: 0px !important;
}

/***** FOOTER *****/

.copyrightSign {
    color: white;
    margin-right: 2%;
.
}

.footer {
    width: 100%;
}

.stickyfooter {
    position: absolute;
    bottom: 0;
}

/***** USER *****/

.containerUser {
    margin-top: 5%;
    margin-bottom: 5%;
}

.flashMessage {
    padding: 25px;
}

#flashesDiv {
    width: 450px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9999;
    margin-right: 8%;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.flash-icon {
    font-size: 24px;
    padding-right: 20px;
}

.alert {
    margin-bottom: 0px !important;
}